
@import url("../Assets/fonts/poppins/font.css");

@media (max-width : 600px ) {
    .headerMenu {
        display : none;
    }
}  

@media   (min-width : 600px ) {
    .AvionStyle{
        display: block;
        width: 470px;
        height: 80vh;
        margin: 70px 6px 0px;
    }
}    

.styleAvion {
    margin-top:165px,
}

.App {
    flex-direction: row;
    display: block;
    background-color: #f3ebeb88; 
}

@media (min-height: 60vh ) {
    .menuIcon {
        display: block;
    }
}    

body {
    font-size: 19.5;
    font-family: "Poppins", cursive, "open-sans";
}


.MenusContent {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

 .Content {
    display: flex;
    height:120vh;
}  

.Navbar {
    box-shadow: 0 4px 8px 0 rgba(141, 136, 136, 0.2), 0 6px 20px 0 rgba(158, 152, 152, 0.19);
}

.image {
    width: 100%;
    height: 250px;
   background-color: #880808;
}

.Appfooter {
    height: 250px;
    display: flex;
    flex: 1;
    flex-direction: column;
    color: #f6f6f7;
    background-color: #880808;
}


.cardBorder {
    border-radius: 20px 20px 8px 8px;
    box-shadow: 0 15px 50px rgba(160, 163, 189, .2);
}

p {
    text-align: center;
    font-size: 18;
}

.copyright {
    color: #f6f6f798;
    height: 100px;
    margin-top: 94px;
    background-color: #0a0a0a67;
}